{% extends 'base.html.twig' %}

{% block title %}SafEats Mis alergias!{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url('wheat.png');
            background-position: center center;
            background-repeat: repeat;
            /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
            /* background-attachment: fixed;*/
            /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
            /*background-size: cover;*/
            background-color: #cccccc;
        }
    </style>
    <main class="container mx-auto">
            <h1 class="text-white mx.auto"> Vista de alergias </h1>

    </main>
{% endblock %}