{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    body {
            /*background-image: url('fondo3.jpg');*/
            /*background-position: center center;*/
            /*background-repeat: no-repeat;*/
            /*!* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido *!*/
            /*background-attachment: fixed;*/
            /*!* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador *!*/
            /*background-size: cover;*/
            /*background-color: #cccccc;*/
            background-image: url('wheat.png');
            background-position: center center;
            background-repeat: repeat;
            /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
            /* background-attachment: fixed;*/
            /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
            /*background-size: cover;*/
              background-color: #cccccc;
        }
</style>

<div class="example-wrapper text-white">
    <h1>Hello ! ✅</h1>
    This friendly message is coming from:
    <ul>
    {{user.getEmail}}{{user.getUsercity}}
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/safeats/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/safeats/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
