{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    body {
            background-image: url('fondo3.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
            background-attachment: fixed;
            /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
            background-size: cover;
            background-color: #cccccc;
        }
</style>


    <main class="container mx-auto">
            <div class="col-xl-8 col-lg-8 p-0 mx-auto container-changedata">
            Cambio datos
            </div>
    </main>
{% endblock %}