{% extends 'base.html.twig' %}

{% block title %}SafEats!{% endblock %}

{% block body %}
<style>
    body {
            background-image: url('wheat.png');
            background-position: center center;
            background-repeat: repeat;
            /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
            /* background-attachment: fixed;*/
            /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
            /*background-size: cover;*/
            background-color: #cccccc;
        }

    .container-changedata {
            background-color: #fff;
        }

    .bg-orange {
        background-color: #fef5e7;
    }

</style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
  <script src="/librerias/js/functions.js"></script>
    <main class="container mx-auto">
        <div class="row">
            <div class="col-xl-8 col-lg-8 pb-4 px-5 my-5 mx-auto container-changedata rounded border border-warning bg-orange">
                <img class="mx-auto d-block"src="logo2.png"/>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="font-weight-bold">SafEats informativo:</p>
                    </div>
                    <div class="panel-body">
                        <p>Estimado usuario de SafEats.</p>
                        <p>Para que podamos ofrecerle un buen servicio, usted debe de rellenar sus datos personales. 
                    </div>
                </div>
                <div class="form">
                        <span class="font-weight-bold mb-3 d-block">Datos personales:</span>
                        <input type="text" class="form-control my-3 d-block" placeholder="Nombre"/>
                        <input type="text" class="form-control my-2 d-block" placeholder="Apellidos"/>

                        <span class="font-weight-bold mb-3 d-block">Dirección:</span>
                         <input type="text" class="form-control my-3 d-block" placeholder="Introduzca dirección"/>     

                         <select class="form-control my-2 d-block country">
                            <option value="" selected disabled> Seleccione una opcion.. </option>
                            <option value="España"> España </option>
                         </select>
                        <div class="addSelects"></div>
                        <input type="checkbox"/> Acepto la politica de privacidad: <br>
                        <input type="checkbox"/> No acepto la politica de privacidad 

                        <input type="button" class="my-2 btn btn-info d-block" value="Enviar"/>        
                </div>
                

                
            </div>
        </div>
    </main>
{% endblock %}