
<!-- Footer -->
<footer id="footer" class="page-footer-fixed-botton font-small bg-personal text-white border border-dark pt-2 pb-1 mt-5">
    <!-- Copyright -->
    <div class="footer-copyright text-center"><p>Copyright © 2019 SafEats. All Rights Reserved. Web designer by juanmasl86@gmail.com. </p>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>